@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="~/Content/Images/sqmd.png"/>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Registrarase como cliente</h2>
        <p><img src="~/Content/Images/if_4_avatar_2754580.png" /></p>
        <p>Registrate como cliente y disfruta de nuestro catálogo de productos.</p>
        <p>@Html.ActionLink("Registrarse como cliente", "Register", "Customers", new { @class = "btn btn-primary" })</p>
    </div>
    <div class="col-md-4">
        <h2>Catálogo de Productos</h2>
        <p><img src="~/Content/Images/iconfinder_box_60733.png" /></p>
        <p>Disfruta de nuestro catálogo de productos con la mejor calidad y precio.</p>
        <p>@Html.ActionLink("Catálogo de Productos", "Index2", "Products", new { @class = "btn btn-warning" })</p>
    </div>
    <div class="col-md-4">
        <h2>Ver carro de compras</h2>
        <p><img src="~/Content/Images/iconfinder_Online-Shopping_379432.png" /></p>
        <p>Revisar tu compra y confirmar tu pedido</p>
        <p>@Html.ActionLink("Ver carro de compras", "ShowCar", "Products", new { @class = "btn btn-success" })</p>
    </div>
</div>